* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/9ed01cf8c6483ac2984850a42547e41a.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    min-height: 720px;
    min-width: 1080px;
}

.wrapper {
    position: relative;
    height: 100%;
}

img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 500px;
    width: 750px;
    /* margin: -350px 0 0 250px; */
    /* margin-right: 350px; */
    transform: translate(-50%, 60%);
    /* margin: 0 auto; */
}

aside {
    position: absolute;
    color: white;
    left: 80%;
    transform: translate(-20%, 80%);
    font-size: 20px;
}

table {
    background-color: black;
    padding: 10px 10px;
}

caption {
    padding-bottom: 20px;
    background-color: black;
    border-bottom: 1px solid white;
}

td {
    padding: 5px 5px;
}

span {
    background-color: white;
    border: 3px solid grey;
    color: black;
    padding: 1px 2px;
}

#crash1 {
    position: absolute;
    left: 36%;
    top: 360px;
    width: 10px;
}

#ride {
    position: absolute;
    left: 41%;
    top: 390px;
    width: 10px;
}

#open {
    position: absolute;
    left: 59%;
    top: 380px;
    width: 10px;
}

#close {
    position: absolute;
    left: 65%;
    top: 450px;
    width: 10px;
}

#mid {
    position: absolute;
    left: 46%;
    top: 450px;
    width: 10px;
}

#high {
    position: absolute;
    left: 56%;
    top: 460px;
    width: 10px;
}

#crash2 {
    position: absolute;
    left: 59%;
    top: 530px;
    width: 10px;
}

#floor {
    position: absolute;
    left: 41%;
    top: 540px;
    width: 10px;
}

#kick1 {
    position: absolute;
    left: 48%;
    top: 660px;
    width: 10px;
}

#kick2 {
    position: absolute;
    left: 54%;
    top: 660px;
    width: 10px;
}